.profile__pic {
	text-align: center;
    position: relative;
	img {
		position: relative;
		width: 85%;
	}	
	&:before {
		background: #000000 none repeat scroll 0 0;
	    content: "";
	    height: 384px;
	    position: absolute;
	    right: 7px;
	    top: -14px;
	    width: 85%;
	}
}